!!! 5
html(lang='en')

// jQuery import
//script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
//script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
script(type="text/javascript", src="javascripts/jquery-1.8.2.min.js")
script(type="text/javascript", src="javascripts/jquery-ui-1.8.23.custom.min.js")
//script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.min.js")
//script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js")

// underscore and backbone
//script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js")
//script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js")
script(type="text/javascript", src="javascripts/underscore-min.js")
script(type="text/javascript", src="javascripts/backbone-min.js")

// d3.js stuff
// script(type="text/javascript", src="http://mbostock.github.com/d3/d3.js?2.4.2")
script(type="text/javascript", src="javascripts/d3.v2.min.js")
//script(type="text/javascript", src="javascripts/d3.layout.js")

// other libs
script(src="/socket.io/socket.io.js")

// clustering lib
script(type="text/javascript", src="javascripts/clusterfck-0.1.js")

// saving to file from client side
script(type="text/javascript", src="javascripts/BlobBuilder.js")
script(type="text/javascript", src="javascripts/FileSaver.js")

// datatables
link(rel="stylesheet", type="text/css", href="stylesheets/jquery.dataTables.css")
script(type="text/javascript", src="javascripts/jquery.dataTables.min.js")

// application scripts
script(type="text/javascript", src="javascripts/client.js")

// wijmo
// Wijmo Widgets CSS
link(type="text/css", href="stylesheets/jquery.wijmo-open.2.2.1.css", rel="stylesheet")

//Wijmo Widgets JavaScript
script(src="javascripts/jquery.wijmo-open.all.2.2.1.min.js", type="text/javascript")

// bootstrap ui
link(type="text/css", href="bootstrap/bootstrap.css", rel="stylesheet")
link(type="text/css", href="stylesheets/custom-theme/jquery-ui-1.8.16.custom.css", rel="stylesheet")

// raphael font icons
link(rel="stylesheet", type="text/css", href="stylesheets/raphaelicons/raphaelicons.css")

// app css
link(rel="stylesheet", type="text/css", href="stylesheets/style.css")


// hidden variable with ip adress of server
input(type="hidden"
  id="hostip"
  value=hostip)

div(id='mobile-menu-plus')
  ul(id='menu', class="unselectable")
    li
      h3
        a
          | Allelic variation Explorer
    li
      input(id="loc-genome", type='text', placeholder='Genome')
    li
      input(id="loc-chrom", type='text', placeholder='chromosome')
    li
      input(id="loc-start", type='text', placeholder='start')
    li
      a
        | ...
    li
      input(id="loc-end", type='text', placeholder='end')
    li
      a
          span(id="go", class='icon')
            | Ã
    li
      a#goToFeature
        | Go to feature
    li
      a#filter
        | Filter
    li
      a#higlight
        | Highlight
      ul
        li
          a#highlightSNPs
            | SNPs
        li
          a#markAccessions
            | Accessions
    li
      a#bookmarks
        | Bookmarks
      ul#bookmarkList
        li
    li
      a
        span#addBookmark(class='icon')
          | I
    li
      a
        span#info(class='icon')
          | "

  div(id='navi', class="unselectable")
    span(class='icon')
      br
      h1
        span(id='goLeft')
          | <
        span(id='zoomOut')
          |  A
        span(id='zoomIn')
          |  @
        span(id='goRight')
          |  =

div#haplDialog
  p
    b Strains:
  p
    b SNPs:
  p
    b Sequnce:
  p
    textarea#fastaSeqArea
  p
    | filename:
    input#fastaFileName(type="string")
    | .fas
    input#saveFasta(type="submit", value="save")

div#goToFeatureDialog
    div(class="form-field")
      label(for="feature-genome")
        |Genome:
      input(id="feature-genome", name="feature-genome", type='text', placeholder='Genome')
    div(class="form-field")
      label(for="feature-name")
        |Feature name:
      input(id="feature-name", name="feature-name", type='text', placeholder='name')
    div(class="form-field")
      label(for="feature-flanks")
        |Flanking region:
      input(id="feature-flanks", name="feature-flanks", type='text', placeholder='flank')
    p
      button#find(type="button", class="ui-button ui-widget ui-button-text-only",
        role="button")
        span(class="ui-button-text")
          | Find

div#filterDialog
  p
  p.filter-buttons
    span(class="select-all ui-button ui-button-primary ui-corner-all")
      |Select All
    |
    span(class="toggle-selection ui-button ui-button-primary ui-corner-all")
      |Toggle Selection
    |
    span(type="button", class="exclude-selected ui-button ui-button-error ui-corner-all")
      |Exclude Selected
    |
    span(class="include-selected ui-button ui-button-success ui-corner-all")
      |Include Selected

div#highlightSNPsDialog
  p
  p.highlightSNPs-buttons
    span(class="select-all ui-button ui-button-primary ui-corner-all")
      |Select All
    |
    span(class="toggle-selection ui-button ui-button-primary ui-corner-all")
      |Toggle Selection
    |
    span(class="unhighlight-selected ui-button ui-button-error ui-corner-all")
      |Unhighlight Selected
    |
    span(class="highlight-selected ui-button ui-button-success ui-corner-all")
      |Highlight Selected

div#markAccessionsDialog
  p
  p.markAccessions-buttons
    span(class="select-all ui-button ui-button-primary ui-corner-all")
      |Select All
    |
    span(class="toggle-selection ui-button ui-button-primary ui-corner-all")
      |Toggle Selection
    |
    span(class="unmark-selected ui-button ui-button-error ui-corner-all")
      |Unmark Selected
    |
    span(class="mark-selected ui-button ui-button-success ui-corner-all")
      |Mark Selected

div#bookmarkDialog
  p
    |
  p
    input#bookmarkName(type='text', placeholder='bookmark name')
    span#saveBookmark(type="button", class="ui-button ui-corner-all")
      |Save

div#SNPDialog
  p

div#graphs
  div#tree
  div#chart


