!!! 5
html(lang="en")
meta(name="viewport", content="width=device-width, initial-scale=1.0")


// stylesheets ----------------------------------------------------------

// jquery ui
link(rel="stylesheet", type="text/css", href="stylesheets/custom-theme/jquery-ui-1.9.0.custom.css")

// datatables
link(rel="stylesheet", type="text/css", href="stylesheets/jquery.dataTables.css")

// bootstrap stuff
link(rel="stylesheet", type="text/css", href="stylesheets/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="stylesheets/bootstrap-responsive.min.css")


// app css
link(rel="stylesheet", type="text/css", href="stylesheets/style.css")

// hidden variable with ip adress of server
input(type="hidden", id="hostip", value=hostip)

div(class="navbar navbar navbar-fixed-top", id="menu")
  div(class="navbar-inner")
    div(class="container-fluid")
      a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="brand pull-left")
        | Allelic Variation Explorer
      div(class="nav-collapse collapse")
        ul(class="nav pull-left")
          li
            form(class="navbar-form form-inline")
              div(class="input-prepend")
                span(class="add-on")
                  | Genome
                input(class="input-small", type="text", id="loc-genome")
              div(class="input-prepend")
                span(class="add-on")
                  | Chrom
                input(class="input-small", type="text", id="loc-chrom")
              div(class="input-prepend")
                span(class="add-on")
                  | start
                input(class="input-small", type="text", id="loc-start")
              div(class="input-prepend")
                span(class="add-on")
                  | end
                input(class="input-small", type="text", id="loc-end")
                button(class="btn", type="submit", id="go")
                  | Go
          li
            a(id="goToFeature")
              | Go to
          li
            a(id="filter")
              | Filter
          li(class="dropdown")
            a(id="highlight", class="dropdown-toggle", data-toggle="dropdown")
              | Highlight
              b(class="caret")
            ul(class="dropdown-menu", aria-labelledby="dropdownMenu", role="menu")
              li
                a(id="highlightSNPs", tabindex="-1")
                  | SNPs
              li
                a(id="markAccessions", tabindex="-1")
                  | accessions

          li(class="dropdown")
            a(id="bookmarks", class="dropdown-toggle", data-toggle="dropdown")
              | Bookmarks
              b(class="caret")
            ul(id="bookmarkList", class="dropdown-menu", aria-labelledby="dropdownMenu", role="menu")

        ul(class="nav pull-right")
          li
            a(id="addBookmark")
              i(class="icon-map-marker")
          li
            a()
              i(class="icon-info-sign")
          li
            a()
              i(class="icon-cog")


  div(class="container-fluid")
    div(class="row-fluid")
      p(class="lead")
        div(class="offset5", id="navi")
          div(class="control-group")
            div(class="btn-group")
              a(class="btn", id="goLeft")
                i(class="icon-chevron-left")
              a(class="btn", id="zoomOut")
                i(class="icon-zoom-out")
              a(class="btn", id="zoomIn")
                i(class="icon-zoom-in")
              a(class="btn", id="goRight")
                i(class="icon-chevron-right")

  div#graphs
    div(id="tree")
    div(id="chart")

div#haplDialog(class="ui-helper-hidden")
  p
    b Strains:
  p
    b SNPs:
  p
    b Sequnce:
  p
    textarea#fastaSeqArea
  p
    | filename:
    input#fastaFileName(type="string")
    | .fas
    input#saveFasta(type="submit", value="save")

div#goToFeatureDialog(class="ui-helper-hidden")
  form(class="form", id="goToFeatureForm")
    label
      | Genome:
    input(id="feature-genome", class="input-small", type='text', placeholder='eg. TAIR10')
    label
      | Feature name:
    input(id="feature-name", name="feature-name", type='text', placeholder='eg. AT1G01320')
    label
      | Flanking region:
    input(id="feature-flanks", name="feature-flanks", type='text', placeholder='eg. 1000')
  button(id="findFeature", class="btn btn-success pull-right")
    | Search

div#filterDialog(class="ui-helper-hidden")
  p
  p.filter-buttons
    div(class="control-group")
      div(class="btn-group")
        button(class="select-all btn btn-primary")
          |Select All
        button(class="toggle-selection btn btn-primary")
          |Toggle Selection
        button(class="exclude-selected btn btn-danger")
          |Exclude Selected
        button(class="include-selected btn btn-success")
          |Include Selected

div#highlightSNPsDialog(class="ui-helper-hidden")
  p
  p.highlightSNPs-buttons
    div(class="control-group")
      div(class="btn-group")
        button(class="select-all btn btn-primary")
          | Select All
        button(class="toggle-selection btn btn-primary")
          | Toggle Selection
        button(class="unhighlight-selected btn btn-danger")
          | Unhighlight Selected
        button(class="highlight-selected btn btn-success")
          | Highlight Selected

div(id="markAccessionsDialog", class="ui-helper-hidden")
  p
  p.markAccessions-buttons
    div(class="control-group")
      div(class="btn-group")
        span(class="select-all btn btn-primary")
          |Select All
        span(class="toggle-selection btn btn-primary")
          |Toggle Selection
        span(class="unmark-selected btn btn-danger")
          |Unmark Selected
        span(class="mark-selected btn btn-success")
          |Mark Selected

div#bookmarkDialog(class="ui-helper-hidden")
  div(class="input-prepend")
    span(class="add-on")
        i(class="icon-map-marker")
      input(id="bookmarkName", type='text', placeholder='name')
  p
    button(id="saveBookmark", class="btn btn-success pull-right")
      |Save

div#SNPDialog(class="ui-helper-hidden")
  p



// javascript imports -----------------------------------------------

// jQuery import
script(type="text/javascript", src="javascripts/jquery-1.8.3.min.js")

// JQuery UI
script(type="text/javascript", src="javascripts/jquery-ui-1.9.0.custom.min.js")

// datatables
script(type="text/javascript", src="javascripts/jquery.dataTables.min.js")

// bootstrap
script(type="text/javascript", src="javascripts/bootstrap.min.js")

// underscore and backbone
script(type="text/javascript", src="javascripts/underscore-min.js")
script(type="text/javascript", src="javascripts/backbone-min.js")

// d3.js stuff
script(type="text/javascript", src="javascripts/d3.v2.min.js")

// other libs
script(src="/socket.io/socket.io.js")

// clustering lib
script(type="text/javascript", src="javascripts/clusterfck-0.1.js")

// saving to file from client side
script(type="text/javascript", src="javascripts/BlobBuilder.js")
script(type="text/javascript", src="javascripts/FileSaver.js")


// application client side script
script(type="text/javascript", src="javascripts/client.js")



