body, #filterDialog, #bookmarkDialog, #goToFeatureDialog, #haplDialog,
#SNPDialog, #highlightSNPsDialog, #markAccessionsDialog
    background-image url('../images/cream_dust.png')


.unselectable
    -moz-user-select -moz-none
    -khtml-user-select none
    -webkit-user-select none
    -ms-user-select none
    user-select none


#goLeft, #zoomOut, #zoomIn, #goRight, #go, #goToFeature, #filter, #addBookmark,
#highlight, #highlightSNPs, #markAccessions, #bookmarks
    cursor pointer

#bookmarkDialog p
  text-align center


#graphs
  position absolute

#chart, #tree
  float left
  // padding 40

#find
    float right

#fastaSeqArea
    width 570px
    height 20em

.nav-row
  text-align center


.included-row, .highlighted-row
    color green

.excluded-row, .unHighlighted-row
    color tomato

.dimmed-snp
    opacity 0.1
svg
  font 10px sans-serif

circle
  opacity 0.6

rect
  opacity 0.6


div#hjaf
  outline 1px dashed red

.geneLabel
  font 9px sans-serif

.snpTip
  font 7px

.node circle
  fill #fff
  stroke steelblue
  stroke-width 1.5px
  opacity 0.25

.link
  fill none
  stroke #ccc
  stroke-width 1.5px

// .ui-dialog-content
//   font-family "Helvetica Neue", "Lucida Grande", "Arial"
//   font-size 13px

.ui-selecting
  background #b9e0f5

.ui-selected
  background #b9e0f5

.hap
  fill steelblue
  opacity 0.2

.refHap
    fill orange
    opacity 0.2

.strainFrac
    text-color steelblue

.ruleLine
  stroke black
  stroke-opacity 0.1

.message
  font-size 15px
  stroke orangered
.rselect
  color royalblue
