body {
  background-image: url("../images/grid_noise.png");
}
#info,
#navi {
  text-align: center;
}
#goLeft,
#zoomOut,
#zoomIn,
#goRight {
  cursor: pointer;
}
#graphs {
  position: absolute;
  top: 180px;
}
#chart,
#tree {
  float: left;
  padding: 40;
}
svg {
  font: 10px sans-serif;
}
circle {
  opacity: 0.6;
}
rect {
  opacity: 0.6;
}
div#hjaf {
  outline: 1px dashed #f00;
}
.geneLabel {
  font: 9px sans-serif;
}
.snpTip {
  font: 7px;
}
.node circle {
  fill: #fff;
  stroke: #4682b4;
  stroke-width: 1.5px;
  opacity: 0.25;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.ui-dialog-content {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
}
.ui-selecting {
  background: #b9e0f5;
}
.ui-selected {
  background: #b9e0f5;
}
.hap {
  fill: #4682b4;
  opacity: 0.2;
}
.refHap {
  fill: #ffa500;
  opacity: 0.2;
}
.strainFrac {
  text-color: #4682b4;
}
.ruleLine {
  stroke: #000;
  stroke-opacity: 0.1;
}
.message {
  font-size: 15px;
  stroke: #ff4500;
}
.rselect {
  color: #4169e1;
}
