body, #filterDialog, #bookmarkDialog, #goToFeatureDialog, #haplDialog,
#SNPDialog, #highlightSNPsDialog, #markAccessionsDialog
    background-image url('../images/cream_dust.png')


.unselectable
    -moz-user-select -moz-none
    -khtml-user-select none
    -webkit-user-select none
    -ms-user-select none
    user-select none


#goLeft, #zoomOut, #zoomIn, #goRight, #go, #goToFeature, #filter, #addBookmark,
#highlight, #highlightSNPs, #markAccessions, #bookmarks
    cursor pointer

#bookmarkDialog p
    text-align center

#chart, #tree
  float left

#find
    float right

#fastaSeqArea
    width 570px
    height 20em

#loc-genome, #loc-chrom
    margin-top 0px

.nav-row
  text-align center

.included-row, .highlighted-row
    color green

.excluded-row, .unHighlighted-row
    color tomato

svg
  font 10px sans-serif

rect
  opacity 0.6

.A
    fill #ABD9E9

.T
    fill #2C7BB6

.G
    fill #D7191C

.C
    fill #FDAE61

.IUPAC
    fill #FFFFBF

.dimmed-snp
    opacity 0.1
 
.geneLabel
  font 9px sans-serif

.snpTip
  font 7px

.node circle
  fill #fff
  stroke steelblue
  stroke-width 1.5px
  opacity 0.25

.link
  fill none
  stroke #ccc
  stroke-width 1.5px

// .ui-dialog-content
//   font-family "Helvetica Neue", "Lucida Grande", "Arial"
//   font-size 13px

.ui-selecting
  background #b9e0f5

.ui-selected
  background #b9e0f5

.hap
  fill lightgrey
  opacity 0.4

.refHap
    fill orange
    opacity 0.2

.strainFrac
    text-color steelblue

.ruleLine
  stroke black
  stroke-opacity 0.1

.message
  font-size 15px
  stroke orangered

.rselect
  color royalblue
