!!! 5
html(lang='en')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js")

script(type="text/javascript", src="javascripts/d3.js")
script(type="text/javascript", src="javascripts/d3.behavior.js")
script(src="/socket.io/socket.io.js")
script(type="text/javascript", src="javascripts/client.js")


h1= title
  img#settings(src="/images/Black_Settings_small.png", alt="settings icon")

p
  div#regionGo
  
  
p
  div#chart
