!!! html

script(
	type="text/javascript",
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js")
script(type="text/javascript", src="javascripts/actions.js")
script(src="/socket.io/socket.io.js")

h1= title
	img#settings(src="/images/Black_Settings_small.png", alt="settings icon")

p Choose 
	select#chrom Chrom
		option
			value Chrom1
		option
			value Chrom2
	span \t from: 
	input#start(name="start", type="number", placeholder="start", value="73")
	span \t to: 
	input#end(name="end", type="number", placeholder="end", value="1000")
	

p or go directly to the feature of interest: \n
	input (id="feature", type="search")
	span with flanks: \n
	input(name="flank", type="number", value="100")

div#chart