body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-stroke: 1px rgba(255,255,255,0.10);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-align: center;
  text-shadow: 1px 2px 2px #ddd;
  font-size: 30px;
}
#settings {
  position: relative;
  left: 200px;
}
#locationChoice {
  float: left;
  text-align: left;
  border-bottom: solid 2px #dcdcdc;
}
#controls {
  float: right;
}
#codingRadio {
  float: right;
}
#chart {
  position: absolute;
  top: 190px;
  margin: 0;
}
#tree {
  position: absolute;
  top: 190px;
  position: absolute;
}
#navigate {
  position: absolute;
  top: 160px;
}
#positionText {
  align: right;
}
#included,
#excluded {
  height: 25em;
  padding: 2%;
  float: left;
  width: 33%;
  text-align: center;
}
#included ul,
#excluded ul {
  background: #f5fffa;
  list-style-type: none;
  padding-left: 0;
  margin-left: 1em;
  height: 20em;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
  text-align: center;
}
#shuffling {
  margin-top: 5em;
  float: left;
  width: 25%;
  text-align: center;
}
#applyFilters {
  clear: top;
  text-align: right;
}
#haplDialog {
  display: none;
}
#fastaSeqArea {
  width: 95%;
  height: 10em;
  font-family: "Andale Mono", "Fixed", "monospace";
}
#fastaFileName {
  width: 9em;
}
.geneLabel {
  font: 9px sans-serif;
}
.snpTip {
  font: 7px;
}
.node circle {
  fill: #fff;
  stroke: #4682b4;
  stroke-width: 1.5px;
  opacity: 0.25;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.ui-dialog-content {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
}
.ui-selecting {
  background: #b9e0f5;
}
.ui-selected {
  background: #b9e0f5;
}
.hap {
  opacity: 0.2;
}
.mini_icon {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons.png");
  margin-left: 25px;
  margin-bottom: 25px;
}
.icon_settings {
  background-position: -352px -66px;
}
.icon_left {
  background-position: -185px -66px;
}
.icon_right {
  background-position: -227px -66px;
}
.icon_plus {
  background-position: -227px -151px;
}
.icon_minus {
  background-position: -268px -151px;
}
.icon_search {
  background-position: -268px -24px;
}
svg {
  font: 10px sans-serif;
}
circle {
  opacity: 0.6;
}
rect {
  opacity: 0.6;
}
div#re {
  outline: 1px dashed #f00;
}
