body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13 px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  
h1 , h2
  margin 0
  font-size 22px
  color #343434
h1
  text-align center
  text-shadow 1px 2px 2px #ddd
  font-size 30px

#settings
  position relative
  left 200px

#locationChoice
  text-align center
  
.geneLabel
  font 9px sans-serif
  
svg 
  font 10px sans-serif

circle
  opacity 0.6

rect
  opacity: 0.6


